.garage-container {
}

.page-number {
  font-size: 2rem;
}

.cars-container {
  min-height: 70vh;
}

.pagination-buttons {
  display: flex;
  gap: 1rem;
}

.pag-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
  }
}
