$background-ball: url('../assets/images/home/bg-ball.png');
$background-snow: url('../assets/images/home/bg-snow.png');
$background-forest: url('../assets/images/home/bg-forest.png');
$background-garland: url('../assets/images/bg-garland.png');
$santa-img: url('../assets/images/home/santa.png');
$gifts-logo: url('../assets/icons/snowflake.svg');
$left-button-img: url('../assets/icons/Button_left.png');
$left-button-img-hover: url('../assets/icons/Button_left_hover.png');
$right-button-img: url('../assets/icons/Button_right.png');
$right-button-img-hover: url('../assets/icons/Button_right_hover.png');
$top-button-img: url('../assets/icons/Button_top.svg');
$santa-logo: url('../assets/icons/santa-claus.svg');
$tree-logo: url('../assets/icons/christmas-tree.svg');
$snake-logo: url('../assets/icons/snake.svg');
$telegram-logo: url('../assets/icons/telegram.svg');
$telegram-logo-red: url('../assets/icons/telegram-red.svg');
$facebook-logo: url('../assets/icons/facebook.svg');
$facebook-logo-red: url('../assets/icons/facebook-red.svg');
$instagram-logo: url('../assets/icons/instagram.svg');
$instagram-logo-red: url('../assets/icons/instagram-red.svg');
$x-logo: url('../assets/icons/X.svg');
$x-logo-red: url('../assets/icons/X-red.svg');
$burger-button: url('../assets/icons/burger-default.svg');
$burger-button-close: url('../assets/icons/burger-default.svg');