@use 'fonts' as *;
@use 'colors' as *;
@use 'images' as *;
@use 'variables' as *;

.gifts__item {
  width: 310px;
  height: 342px;

  @include flex-vertical-between;

  border-radius: $primary-radius;
  background-color: $content-background;

  .gifts__image {
    width: 310px;
    height: 230px;
  }

  .gifts__description-wrapper {
    width: 100%;
    height: 100%;
    border-radius: $primary-radius;
    background-color: $static-white;

    .gifts__description {
      text-align: left;
      padding: 20px;

      p {
        @include typography-item;

        padding-bottom: 10px;
      }

      h3 {
        @include typography-item-description;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;

      .gifts__description > h3 {
        color: $primary;
      }
    }
  }
}
