@use 'fonts' as *;
@use 'colors' as *;
@use 'images' as *;
@use 'variables' as *;

header {
  a {
    color: $dark;
  }

  @include flex-horizontal;
  @include navigation-font;

  padding: 12px 82px;

  @media (width <= 800px) {
    padding: 1.2rem 8px;
  }

  .logo_box {
    @include flex-horizontal;

    gap: 8px;
    padding-left: 20px;
    cursor: pointer;

    .logo_image {
      background-image: $gifts-logo;
      width: 24px;
      height: 24px;
    }
  }

  anchor-name: --my-anchor;
}
