/* Reset configuration */
* {
  padding: 0;
  margin: 0;
  border: none;
}
*::before, *::after {
  box-sizing: border-box;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

nav,
footer,
header,
aside {
  display: block;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

/* Reset configuration end */
* {
  transition: 0.5s;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
}

/* Fonts */
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"), url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: Allura;
  src: local("Allura"), url("../assets/fonts/Allura-Regular.ttf") format("truetype");
}
/* Fonts end */
.contact-card__icon--phone, .contact-card__icon--address, .contact-card__icon--mail, .scroll-top {
  background-position: center;
  background-size: cover;
}

.no-scroll {
  overflow: hidden;
}

.header__burger-btn {
  margin: 15px 10px;
  display: none;
  background: transparent;
}
@media (width <= 768px) {
  .header__burger-btn {
    display: block;
  }
}

.header__burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.header__burger-icon {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 20px;
  height: 10px;
}
.header__burger-icon::before, .header__burger-icon::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #181c29;
}
.header__burger-icon::before {
  top: 0;
  transition: top 0.3s 0.15s, transform 0.3s;
}
.header__burger-icon::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.header__burger-checkbox:checked + .header__burger-icon::before {
  top: 5px;
  transform: rotate(45deg);
  transition: top 0.3s, transform 0.3s 0.15s;
}

.header__burger-checkbox:checked + .header__burger-icon::after {
  top: 5px;
  transform: rotate(-45deg);
  transition: top 0.3s, transform 0.3s 0.15s;
}

.burger-menu {
  position: absolute;
  position-anchor: --my-anchor;
  position-area: bottom;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #181c29;
  align-content: center;
  translate: 100%;
  transition: translate 1s ease-out, display 1s ease-out, overlay 1s ease-out;
}
.burger-menu:popover-open {
  translate: 0 0;
  transition: translate 1s ease-out, display 1s ease-out, overlay 1s ease-out;
}
@starting-style {
  .burger-menu:popover-open {
    translate: 100% 0;
  }
}

.burger-menu__nav {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  margin: auto;
  border-radius: 20px;
}

.overlay--open {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5000px;
  background: rgba(24, 28, 41, 0.8);
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 10px;
  cursor: pointer;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #ecf3f8;
}
@media (width <= 380px) {
  .modal__content {
    max-width: 350px;
  }
}

.modal__image {
  max-width: 400px;
}
@media (width <= 380px) {
  .modal__image {
    max-width: 360px;
  }
}

.modal__description-wrapper {
  max-width: 400px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
}

.modal__description {
  text-align: left;
  padding: 20px 20px 0;
}
.modal__description h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.modal__description h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #181c29;
  padding-bottom: 8px;
}
.modal__description p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #181c29;
}

.modal__powers {
  text-align: left;
  padding: 20px;
}
.modal__powers h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.modal__powers-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal__powers-list ul {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #181c29;
}

.modal__powers-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.modal__snowflakes {
  margin-top: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #181c29;
  padding: 12px 82px;
}
@media (width <= 800px) {
  .header {
    padding: 1.2rem 8px;
  }
}
.header a {
  color: #181c29;
}
.header {
  anchor-name: --my-anchor;
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-left: 20px;
  cursor: pointer;
}

.header__logo-icon {
  background-image: url("../assets/icons/snowflake.svg");
  width: 24px;
  height: 24px;
}

@media (width <= 768px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.header__nav-list li a {
  padding: 12px 20px;
  color: #181c29;
  border-radius: 10px;
}
@media (hover: hover) {
  .header__nav-list li:hover a {
    color: #ff4646;
    background: rgba(255, 70, 70, 0.2);
  }
}
.header__nav-list {
  padding: 12px 0;
}
@media (width <= 768px) {
  .header__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.gifts__item {
  width: 310px;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #ecf3f8;
}
.gifts__item .gifts__image {
  width: 310px;
  height: 230px;
}
.gifts__item .gifts__description-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
}
.gifts__item .gifts__description-wrapper .gifts__description {
  text-align: left;
  padding: 20px;
}
.gifts__item .gifts__description-wrapper .gifts__description p {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.gifts__item .gifts__description-wrapper .gifts__description h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #181c29;
}
@media (hover: hover) {
  .gifts__item:hover {
    cursor: pointer;
  }
  .gifts__item:hover .gifts__description > h3 {
    color: #ff4646;
  }
}

/* Global */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: #ff4646;
}

.section {
  max-width: 1276px;
}
@media (width >= 400px) and (width <= 800px) {
  .section {
    max-width: 752px;
  }
}

/* Gifts */
.gifts {
  background-image: url("../assets/images/bg-garland.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.gifts__container {
  margin: 60px 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gifts__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gifts__caption h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.filter ul {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (width <= 649px) {
  .filter ul {
    gap: 0;
  }
}
.filter ul li {
  padding: 12px 20px;
}
@media (width <= 649px) {
  .filter ul li {
    padding: 12px 8px;
  }
}
.filter ul li {
  border-radius: 10px;
}
@media (hover: hover) {
  .filter ul li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
}

.buttons-panel__item--active {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Header */
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.header__nav-list li a {
  padding: 12px 20px;
  color: #181c29;
  border-radius: 10px;
}
@media (hover: hover) {
  .header__nav-list li:hover a {
    color: #ff4646;
    background: rgba(255, 70, 70, 0.2);
  }
}
@media (width <= 768px) {
  .header__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.header__nav-list li:first-child {
  padding: 12px 20px;
  border-radius: 10px;
  pointer-events: auto;
  cursor: default;
  background: rgba(255, 70, 70, 0.2);
  color: #ff4646;
}

.gifts__list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 310px);
  grid-template-rows: repeat(3, 342px);
  gap: 12px;
}
@media (width >= 1100px) and (width <= 1439px) {
  .gifts__list {
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(4, 342px);
  }
}
@media (width >= 650px) and (width <= 1100px) {
  .gifts__list {
    grid-template-columns: repeat(2, 310px);
    grid-template-rows: repeat(6, 342px);
  }
}
@media (width <= 649px) {
  .gifts__list {
    grid-template-columns: repeat(1, 310px);
  }
}

.for-work {
  color: #4361ff;
}

.for-harmony {
  color: #ff43f7;
}

.for-health {
  color: #06a44f;
}

/* Footer */
.footer {
  background-color: #fff;
}

footer {
  margin: 60px 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 65px;
}
@media (width <= 800px) {
  footer {
    margin: 60px 8px;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
@media (width <= 1200px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__contacts .contact-card {
  background-color: #ecf3f8;
  border-radius: 20px;
  text-align: center;
  width: 30%;
  padding: 20px;
}
.footer__contacts .contact-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #181c29;
  gap: 12px;
}
.footer__contacts .contact-card p {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
}
@media (width <= 1200px) {
  .footer__contacts .contact-card {
    width: 100%;
    padding: 20px 0;
  }
}

@media (hover: hover) {
  .contact-card:hover a > span,
  .contact-card:hover p {
    color: #ff4646;
  }
}
.contact-card__icon {
  width: 80px;
  height: 80px;
}

.contact-card__icon--phone {
  background-image: url("../assets/icons/santa-claus.svg");
}

.contact-card__icon--address {
  background-image: url("../assets/icons/christmas-tree.svg");
}

.contact-card__icon--mail {
  background-image: url("../assets/icons/snake.svg");
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer__info p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #181c29;
}
.footer__info a {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-family: Allura, cursive;
  color: #181c29;
}

@media (hover: hover) {
  .footer__link:hover {
    color: #ff4646;
  }
}
/* Button top */
.scroll-top {
  display: block;
  visibility: hidden;
  background-image: url("../assets/icons/Button_top.svg");
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.pagination__btn {
  width: 56px;
  height: 56px;
  background-color: transparent;
  cursor: pointer;
}
.pagination__btn:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.scroll-top--hidden {
  display: none;
}

.scroll-top--visible {
  visibility: visible;
}

/*# sourceMappingURL=gifts.css.map */
