@use 'colors' as *;

/*Fonts*/

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Allura";
    src: local("Allura"),
        url("../assets/fonts/Allura-Regular.ttf") format("truetype");
  }

//Mixins

@mixin font-12 {
    font: {
        weight: 600;
        size: 12px;
    }
    line-height: 130%;
    letter-spacing: 0.05em;
}

@mixin font-16 {
    font: {
        weight: 400;
        size: 16px;
    }
    line-height: 150%;
}

@mixin font-16-148 {
    font: {
        weight: 400;
        size: 16px;
    }
    line-height: 148%;
}

@mixin font-16-152 {
    font: {
        weight: 400;
        size: 16px;
    }
    line-height: 152%;
    letter-spacing: 0.08em;
}

@mixin font-16-152-600 {
    font: {
        weight: 600;
        size: 16px;
    }
    line-height: 152%;
    letter-spacing: 0.08em;
}

@mixin font-24 {
    font: {
        weight: 400;
        size: 24px;
    }
    line-height: 100%;
    letter-spacing: 0.05em;
}

@mixin font-24-header {
    font: {
        weight: 600;
        size: 24px;
    }
    line-height: 152%;
    letter-spacing: 0.16em;
}

@mixin font-32 {
    font: {
        weight: 600;
        size: 32px;
    }
    line-height: 150%;
    letter-spacing: 0.18em;
}

@mixin font-80 {
    font: {
        weight: 600;
        size: 80px;
    }
}

@mixin navigation-font {
    @include font-12;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $dark;
}

@mixin navigation-font-white {
    @include font-12;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $static-white;
}

@mixin header-italic {
    @include font-24;
    font-family: Allura;
    color: $static-white;
}

@mixin header-italic-dark {
    @include font-24;
    font-family: Allura;
    color: $dark;
}

@mixin header-italic {
    @include font-24;
    font-family: Allura;
    color: $static-white;
}

@mixin header-italic-primary {
    @include font-24;
    font-family: Allura;
    color: $primary;
}

@mixin h1 {
    @include font-32;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
    color: $static-white;
}

@mixin h2 {
    @include font-24-header;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $dark;
}

@mixin h2-white {
    @include font-24-header;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $static-white;
}

@mixin button_font {
    @include font-12;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $static-white;
}

@mixin text_font {
    @include font-16;
    font-family: Montserrat;
    letter-spacing: 0.0015em;
    color: $dark;
}

@mixin slider_font {
    @include font-80;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
    color: $static-white;
}

@mixin item_font {
    @include font-12;
    font-family: Montserrat;
    text-transform: uppercase;

}

@mixin item_description_text {
    @include font-16-152;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $dark;
}

@mixin count_item_text {
    @include font-12;
    font-family: Montserrat;
    text-transform: uppercase;
    color: $static-white;
}

@mixin contact_font {
    font-family: Montserrat;
   @include font-16-152-600;
   text-transform: uppercase;
   color: $dark;
}

@mixin contact_rs_font {
    font-family: Montserrat;
    @include font-16-148;
    color: $dark;
 }