/*Images*/

$background-ball: url('../assets/images/home/bg-ball.png');
$background-snow: url('../assets/images/home/bg-snow.png');

$santa-img: url('../assets/images/home/santa.png');
$gifts-logo: url('../assets/icons/snowflake.svg');