//Images

$background-ball: url('../assets/images/home/bg-ball.png');
$background-snow: url('../assets/images/home/bg-snow.png');
$background-forest: url('../assets/images/home/bg-forest.png');
$background-garland: url('../assets/images/bg-garland.png');

$santa-img: url('../assets/images/home/santa.png');

$gifts-logo: url('../assets/icons/snowflake.svg');

$left-button-img: url('../assets/icons/Button_left.png');
$left-button-img-disabled: url('../assets/icons/Button_left_disabled.png');
$right-button-img: url('../assets/icons/Button_right.png');
$right-button-img-hover: url('../assets/icons/Button_right_hover.png');

$santa-logo: url('../assets/icons/santa-claus.svg');
$tree-logo: url('../assets/icons/christmas-tree.svg');
$snake-logo: url('../assets/icons/snake.svg');

$telegram-logo: url('../assets/icons/telegram.png');
$telegram-logo-red: url('../assets/icons/telegram-red.png');
$facebook-logo: url('../assets/icons/facebook.png');
$facebook-logo-red: url('../assets/icons/facebook-red.png');
$instagram-logo: url('../assets/icons/instagram.png');
$instagram-logo-red: url('../assets/icons/instagram-red.png');
$x-logo: url('../assets/icons/X.png');
$x-logo-red: url('../assets/icons/X-red.png');