//Import

@use 'reset' as *;
@use 'fonts' as *;
@use 'colors' as *;
@use 'images' as *;
@use 'variables' as *;
@use 'variables' as *;

/*Global*/

* {
    transition: 0.5s;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: $primary;
}

.section {
    max-width: $desktop-max-width;
    @media (min-width: 400px) and (max-width: 800px) {
        max-width: $tablet-max-width;
    }
}

/*Header*/

header {
    a {
        color: $dark;
    }
    @include flex-horizontal;
    @include navigation-font;
    padding: 12px 82px;
    @media (max-width: 800px) {
        padding: 1.2rem 8px;
    }
    .logo_box {
        @include flex-horizontal;
        gap: 8px;
        padding-left: 20px;
        cursor: pointer;
        .logo_image {
            background-image: $gifts-logo;
            width: 24px;
            height: 24px;
        }
    }
    .navigation_list {
        @include flex-horizontal;
        gap: 8px;
        @include list_item_styles;
        @media (max-width: 768px) {
            display: none;
        }
    }
    ul {
        li:first-child {
            padding: 12px 20px;
            border-radius: 10px;
            pointer-events: none;
            cursor: default;
            background: $primary-opacity;
            color: $primary;
        }
    }
}

.burger_menu {
    display: none;
    background-image: $burger-button;
    @extend %background-center;
    width: 40px;
    height: 40px;
    @media (max-width: 768px) {
        display: inline-block;
    }
}

/*Best gifts*/

.best_gifts_wrapper {
    background-image: $background-garland;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.best_gifts_container {
    margin: $tablet-margin;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.best_gifts_caption {
    @include flex-vertical;
    text-align: center;
    h1 {
        @include h1;
    }
}

.buttons_panel_list {
    @include navigation-font-white;
    @include flex-horizontal-center;
    gap: 8px;
    @media (max-width: 649px) {
        gap: 0;

    }
    li {
        padding: 12px 20px;
        @media (max-width: 649px) {
            padding: 12px 8px;

        }
        border-radius: 10px;
        @media (hover: hover) {
            &:hover {
                background-color: $static-white-40;
                cursor: pointer;
            }

        }
        &:first-child {
            pointer-events: none;
            background-color: $static-white-40;
        }
    }
}

.best_gifts {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: repeat(3, 342px);
    gap: 12px;
    @media (min-width: 1100px) and (max-width: 1439px) {
        grid-template-columns: repeat(3, 310px);
        grid-template-rows: repeat(4, 342px);
    }
    @media (min-width: 650px) and (max-width: 1100px) {
        grid-template-columns: repeat(2, 310px);
        grid-template-rows: repeat(6, 342px);
    }
    @media (max-width: 649px) {
        grid-template-columns: repeat(1, 310px);

    }
}

.gifts_item {
    width: 310px;
    height: 342px;
    @include flex-vertical-between;
    border-radius: $primary-radius;
    background-color: $content-background;
    .gift_img {
        width: 310px;
        height: 230px;
    }
    .gift_description_wrapper {
        width: 100%;
        height: 100%;
        border-radius: $primary-radius;
        background-color: $static-white;
        .gift_description {
            text-align: left;
            padding: 20px;
            p {
                @include item_font;
                padding-bottom: 10px;
            }
            h3 {
                @include item_description_text;
            }
        }
    }
    @media (hover: hover) {
        &:hover {
            cursor: pointer;
            .gift_description > h3 {
                color: $primary;
            }
        }
    }
}

.for_work {
    color: $tag-purple;
}

.for_harmony {
    color: $tag-pink;
}

.for_health {
    color: $tag-green;
}

/*Footer*/

.footer_wrapper {
    background-color: $static-white;
}

footer {
    margin: $primary-margin;
    @include flex-vertical-between;
    gap: 65px;
    @media (max-width: 800px) {
        margin: $tablet-margin;
    }
}

.contacts {
    @include flex-horizontal;
    gap: 12px;
    @media (max-width: 1200px) {
        @include flex-vertical;
    }
    .contact_card {
        background-color: $content-background;
        border-radius: $primary-radius;
        text-align: center;
        width: 30%;
        padding: 20px;
        a {
            @include flex-vertical;
            @include h2;
            gap: 12px;
        }
        p {
            @include contact_font;
        }
        @media (max-width: 1200px) {
            width: 100%;
            padding: 20px 0;
        }
    }
}

@media (hover: hover) {
    .contact_card:hover {
        a > span, p {
            color: $primary;
        }
    }

}

.card_img {
    width: 80px;
    height: 80px;
}

.phone_img {
    background-image: $santa-logo;
    @extend %background-center
}
.adress_img {
    background-image: $tree-logo;
    @extend %background-center
}
.mail_img {
    background-image: $snake-logo;
    @extend %background-center
}

.social {
    display: grid;
    grid-template-columns: repeat(4, 24px);
    grid-gap: 30px;
    margin-bottom: 10px;
    .logo {
        width: 20px;
        height: 20px;
        padding: 3px;
        background-position: center;
        background-size: cover;
    }
    .telegram {
        background-image: $telegram-logo;
        @media (hover: hover) {
            &:hover {
                background-image: $telegram-logo-red;;
            }

        }
    }
    .facebook {
        background-image: $facebook-logo;
        @media (hover: hover) {
            &:hover {
                background-image: $facebook-logo-red;;
            }

        }
    }
    .instagram {
        background-image: $instagram-logo;
        @media (hover: hover) {
            &:hover {
                background-image: $instagram-logo-red;;
            }

        }
    }
    .x {
        background-image: $x-logo;
        @media (hover: hover) {
            &:hover {
                background-image: $x-logo-red;;
            }

        }
    }
}

.rs_contacts {
    @include flex-vertical;
    gap: 12px;
    p {
        @include contact_rs_font;
    }
    a {
        @include header-italic-dark;
    }
}

@media (hover: hover) {
    .rs_link:hover {
        color: $primary;
    }

}