/*Variables*/

$primary-margin: 6rem auto;
$secondary-margin: 1rem;
$primary-padding: 2rem;
$secodary-padding: 0.2rem;
$input-margin: 1rem;
$input-padding: 1rem;
/*Colors*/
$primary-color: #ffb84d;
/*Text*/
%btn-text {
  font-size: 1.5rem;
  text-transform: uppercase;
}
%h1 {
  font-size: 5rem;
}
%border {
  border-radius: 0.5rem;
  border: 0.1rem solid black;
}

%flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
%flex-horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
%flex-center {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
%flex-between {
  justify-content: space-between;
}
