/*Variables*/
$primary-margin: 6rem auto;
$secondary-margin: 1rem auto;
$header-margin: 1rem;
$primary-padding: 2rem;
$secodary-padding: 0 0.5rem;
$gamebtn-padding: 0 1rem;
$input-margin: 1rem;
$input-padding: 1rem;

$primary-size: 5rem;
$button-size: 2rem;
$gamebtn-size: 3.5rem;
$key-size: 2.5rem;
$small-size: 1rem;

// Colors
$primary-color: #ffb84d;
$secondary-color: #000000;
$third-color: #ffffff;
// Fonts
@font-face {
  font-family: "Eater";
  src:
    local("Eater"),
    url("../assets/fonts/Eater-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Iceberg";
  src:
    local("Iceberg"),
    url("../assets/fonts/Iceberg-Regular.ttf") format("truetype");
}
// Text
%btn-text {
  font-size: $button-size;
  text-transform: uppercase;
  font-family: Eater;
}
%h1 {
  font-size: $primary-size;
  font-family: Eater;
}
%key-text {
  text-transform: uppercase;
  font-family: Iceberg;
  font-size: $key-size;
}
// Borders
%border {
  border-radius: 0.5rem;
  border: 0.1rem solid $secondary-color;
}
%border-hover {
  border-radius: 0.5rem;
  border: 0.1rem solid $primary-color;
}
// Layout
%flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
%flex-horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
%flex-center {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
%flex-between {
  justify-content: space-between;
}
