@use 'variables' as *;

.background--dark {
  background-color: $neutral-color;
}

.background--light {
  background-color: #fff;
}

.no-events {
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family:
    Griffy,
    cursive,
    system-ui,
    -apple-system,
    sans-serif;
}

.body-wrapper {
  background-color: var(--background-color);
}
