// Fonts

@font-face {
  font-family: Griffy;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Griffy-Regular.ttf') format('truetype');
}

// Colors

$primary-color: var(--primary-color);
$border-color: var(--border-color);
$neutral-color: var(--neutral-color);
$dark-color: #262626;

// Margins
$align-margin: 0 auto;
$margin-medium: 0.5rem;
$margin-big: 2rem;

// Paddings
$padding-small: 0.1rem;
$padding-panel: 0.5rem;
$padding-medium: 1.5rem;

// Borders
$border-dark: 0.3rem solid $dark-color;
$border-cell: 0.001rem solid $border-color;
$border-bold: 0.3rem solid $border-color;
$border-normal: 0.1rem solid $border-color;

%borders-cell {
  border-right: 0.001rem solid $border-color;
  border-bottom: 0.001rem solid $border-color;
}
%borders-info {
  border: $border-bold;
}
%borders-left {
  border-left: 0.1rem solid $border-color;
  border-right: 0.1rem solid $border-color;
}

%borders-top {
  border-top: 0.1rem solid $border-color;
  border-bottom: 0.1rem solid $border-color;
}

%borders-board {
  border: 0.1rem solid $border-color;
}

%borders-section {
  border: $border-bold;
  border-radius: 0.5rem;
}

// Aligning

%align-center {
  text-align: center;
  align-content: center;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%size-fit {
  width: fit-content;
  height: fit-content;
}

%flex-evenly {
  align-items: center;
  justify-content: space-evenly;
}

// Background

%background-btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

// Fonts

%header-text {
  font-family: Griffy, cursive;
  font-size: 3.5rem;
}

%header-secondary {
  font-family: Griffy, cursive;
  font-size: 3rem;
}

%text-medium {
  font-family: Griffy, cursive;
  font-size: 2rem;
}
