:root {
  // Colors
  --primary-color: #308eaf;
  --border-color: #308eaf;
  --background-toggler: #f9f6f4;
  --background-color: linear-gradient(
    90deg,
    rgb(249 246 244 / 100%) 0%,
    rgb(249 244 246 / 100%) 100%
  );
  --light-color: #f9f6f4;
  --neutral-color: #434343;
  --active-color: #3663bb;
  --dark-color: #1b1c1d;
  --panel-color: #f9f6f4;

  // Cells
  --cell-size: 5rem;

  // Images
  --cross: url('../assets/icons/cross.png');
}

$primary-color: var(--primary-color);
$border-color: var(--border-color);
$neutral-color: var(--neutral-color);
$dark-color: #262626;

// Margins
$align-margin: 0 auto;
$margin-medium: 0.5rem;
$margin-big: 2rem;

// Paddings
$padding-small: 0.1rem;
$padding-panel: 0.5rem;
$padding-medium: 1.5rem;

// Borders
$border-dark: 0.3rem solid $dark-color;
$border-cell: 0.001rem solid $border-color;
$border-bold: 0.3rem solid $border-color;
$border-normal: 0.1rem solid $border-color;
