//Import
@use "reset" as *;
@use "variables" as *;
// Global
.background--dark {
  background-color: $neutral-color;
}

.body-wrapper {
}

.main-panel {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
}
//Board
.board {
  display: grid;
  grid-gap: 0.2rem;
  grid-template:
    ". top"
    "left gameboard";
  @extend %borders-board;
  padding: 0.5rem;
}

.top-info {
  grid-area: top;
  @extend %grid-board;
  @extend %borders-cell;
}

.left-info {
  grid-area: left;
  @extend %grid-left;
  @extend %borders-cell;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  @extend %borders-cell;
  align-content: end;
  .info-nums {
    width: 3rem;
    margin: 0.3rem 0;
  }
}

.left-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  @extend %align-center;
  @extend %borders-cell;
  .info-nums {
    height: 3rem;
    margin: 0 0.3rem;
  }
}

.info-nums {
  text-align: center;
  align-content: center;
}

.gameboard {
  grid-area: gameboard;
  @extend %grid-board;
  @extend %borders-cell;
}

.cell {
  width: 3rem;
  height: 3rem;
  @extend %borders-cell;
  @extend %align-center;
  cursor: pointer;
  // color: transparent;
  user-select: none;
}
