//Import
@use "reset" as *;
@use "variables" as *;
// Global
.background--dark {
  background-color: $neutral-color;
}
.background--light {
  background-color: #ffffff;
}
body {
  --cell-size: 5rem;
}
//Main
.main-panel {
  margin: $align-margin;
  @extend %flex-column;
  justify-content: center;
}
.main-wrapper {
  height: 100vh;
  @extend %flex-row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
//Header
.header {
  padding: 0.5rem;
  background-color: $primary-color;
  align-content: center;
}

.header-wrapper {
  margin: $align-margin;
  @extend %flex-row;
  justify-content: center;
  width: 50%;
}

.name {
  font-family: Griffy;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #e2e1e0;
}

//Board

//Difficulty panel
.difficulty-panel {
  @extend %flex-column;
  gap: 0.1rem;
  align-items: flex-start;
  @extend %borders-section;
  padding: $padding-medium;
}
.difficulty-buttons {
  @extend %flex-row;
  gap: 1rem;
  padding-bottom: 0.5rem;
}
.dif-btn {
  padding-top: 0.2rem;
  font-family: Griffy;
  font-size: 2rem;
  text-transform: uppercase;
  color: #e2e1e0;
  width: 10rem;
  height: 3rem;
  background-color: $primary-color;
  border-radius: 0.2rem;
  opacity: 60%;
  cursor: pointer;
  &:hover {
    opacity: 100%;
  }
  &:active {
    opacity: 100%;
    transform: scale(1.05);
  }
}

.dif-btn--active {
  opacity: 100%;
  transform: scale(1.05);
}
//List
.list-checkbox {
  @extend %flex-row;
  font-family: Griffy;
  font-size: 2rem;
  gap: 0.5rem;
  padding: $padding-small;
  text-transform: capitalize;
}
.input-radio {
  color: $primary-color;
}
//Gameboard
.game-panel {
  @extend %borders-section;
}
.board {
  font-family: Griffy;
  margin: $margin-medium;
  display: grid;
  grid-gap: 0.3rem;
  grid-template:
    ". top"
    "left gameboard";
}

.top-info {
  padding-left: 0.05rem;
  grid-area: top;
  @extend %flex-row;
  @extend %size-fit;
}

.left-info {
  padding-top: 0.1rem;
  grid-area: left;
  @extend %size-fit;
}

.top-wrapper {
  @extend %flex-column;
  justify-content: end;
  align-content: end;

  &:not(:last-child) {
    border-right: 0.001rem solid $primary-color;
  }
}
.top-wrapper:not(:last-child):nth-child(5n) {
  border-right: $border-bold;
}

.left-wrapper {
  @extend %flex-row;
  justify-content: end;
  @extend %align-center;
  @extend %borders-cell;
}
.left-wrapper:nth-child(5n) {
  border-bottom: $border-bold;
}

.info-nums {
  text-align: center;
  align-content: center;
  user-select: none;
  width: var(--cell-size);
  height: var(--cell-size);
}

.gameboard {
  grid-area: gameboard;
  border: $border-normal;
  @extend %size-fit;
}

.row {
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  @extend %borders-cell;
  @extend %align-center;
  cursor: pointer;
  // color: transparent;
  user-select: none;
}

.cross--dark {
  background-image: url(../assets/icons/cross.png);
  @extend %background-btn;
}

.cell:not(:last-child):nth-child(5n) {
  border-right: $border-bold;
}

.row:nth-child(5n) {
  border-bottom: $border-bold;
}

.row:last-child,
.left-wrapper:last-child {
  border-bottom: none;
}
