/*Reset configuration*/
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*::before, *::after {
  box-sizing: border-box;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

nav,
footer,
header,
aside {
  display: block;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Griffy";
  src: local("Griffy"), url("../assets/fonts/Griffy-Regular.ttf") format("truetype");
}
.left-wrapper, .cell {
  border-right: 0.001rem solid var(--border-color);
  border-bottom: 0.001rem solid var(--border-color);
}

.difficulty-panel, .game-panel {
  border: 0.2rem solid var(--border-color);
  border-radius: 0.5rem;
}

.left-wrapper, .cell {
  text-align: center;
  align-content: center;
}

.main-wrapper, .header-wrapper, .options, .timer, .btn-wrapper, .difficulty-buttons, .list-checkbox, .top-info, .left-wrapper, .table-row {
  display: flex;
  flex-direction: row;
}

.main-panel, .control-panel, .difficulty-panel, .top-wrapper, .modal, .modal-info, .score-wrapper, .score-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-info, .left-info, .gameboard {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.timer {
  align-items: center;
  justify-content: space-evenly;
}

.button-img, .cross--dark {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.name {
  font-family: Griffy;
  font-size: 3.5rem;
}

.modal-info__text, .score-table__name {
  font-family: Griffy;
  font-size: 3rem;
}

.score-table {
  font-family: Griffy;
  font-size: 2rem;
}

.background--dark {
  background-color: var(--neutral-color);
}

.background--light {
  background-color: #ffffff;
}

.no-events {
  pointer-events: none;
}

body {
  --cell-size: 5rem;
  --primary-color: #308eaf;
  --border-color: #308eaf;
  --background-toogler: #f9f6f4;
  --background-color: linear-gradient(
    90deg,
    rgba(249, 246, 244, 1) 0%,
    rgba(249, 244, 246, 1) 100%
  );
  --light-color: #f9f6f4;
  --neutral-color: #ffd700;
  --active-color: #3663bb;
  --dark-color: #1b1c1d;
  --panel-color: #f9f6f4;
}

.body-wrapper {
  background-color: var(--background-color);
}

.main-panel {
  justify-content: center;
}

.main-wrapper {
  padding: 2rem 0;
  min-height: 85vh;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 950px) {
  .main-wrapper {
    flex-direction: column-reverse;
  }
}

.header {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--primary-color);
}

.header-wrapper {
  margin: 0 auto;
  padding: 0.5rem;
  color: var(--panel-color);
  justify-content: space-around;
  align-items: center;
  width: 50%;
  gap: 1rem;
  flex-wrap: wrap;
}

.name {
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .name {
    font-size: 3rem;
  }
}

.options {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.timer {
  width: 8rem;
}

.time {
  text-align: center;
  font-family: Griffy;
  font-size: 2rem;
}

.btn-wrapper {
  gap: 0.4rem;
}

.toogle-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 1.8rem;
  background: var(--panel-color);
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}
.toogle-btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--primary-color);
  width: 1.5rem;
  height: 1.6rem;
  border-radius: 50%;
  left: 0.11rem;
  top: 0.11rem;
  transform: translateX(0);
}

.button-img {
  width: 1.6rem;
  height: 1.6rem;
}

.audio-on {
  background-image: url(../assets/icons/volume-medium-white-icon.svg);
}

.audio-off {
  background-image: url(../assets/icons/volume-muted-white-icon.svg);
}

.theme-on {
  background-image: url(../assets/icons/sun-icon.png);
}

.theme-off {
  background-image: url(../assets/icons/moon-icon.png);
}

.toogle-btn:checked::after {
  transform: translateX(100%);
}

.control-panel {
  gap: 1rem;
}

.difficulty-panel {
  gap: 0.1rem;
  justify-content: center;
  padding: 1.5rem;
}
@media (max-width: 500px) {
  .difficulty-panel {
    flex-direction: row;
    gap: 2rem;
  }
}

.difficulty-buttons {
  gap: 1rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 500px) {
  .difficulty-buttons {
    flex-direction: column;
  }
}

.dif-btn {
  padding-top: 0.2rem;
  font-family: Griffy;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e2e1e0;
  min-width: 10rem;
  height: 3rem;
  background-color: var(--primary-color);
  border-radius: 0.2rem;
  opacity: 80%;
  cursor: pointer;
}
.dif-btn:hover {
  opacity: 100%;
  background-color: var(--active-color);
}
@media (max-width: 500px) {
  .dif-btn {
    font-size: 1rem;
  }
}

.dif-btn--active {
  opacity: 100%;
  transform: scale(1.05);
  background-color: var(--active-color);
}

.fieldset {
  display: grid;
  color: var(--dark-color);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 500px) {
  .fieldset {
    grid-template-columns: repeat(1, 1fr);
  }
}

.list-checkbox {
  font-family: Griffy;
  font-size: 2rem;
  gap: 0.5rem;
  padding: 0.1rem;
  text-transform: capitalize;
}
@media (max-width: 500px) {
  .list-checkbox {
    font-size: 1.5rem;
  }
}

.input-radio {
  color: var(--primary-color);
}

.buttons-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
}

.board {
  font-family: Griffy;
  color: var(--dark-color);
  margin: 0.5rem;
  display: grid;
  grid-gap: 0.3rem;
  grid-template: ". top" "left gameboard";
}

.top-info {
  padding-left: 0.05rem;
  grid-area: top;
}

.left-info {
  padding-top: 0.1rem;
  grid-area: left;
}

.top-wrapper {
  justify-content: end;
  align-content: end;
  border-bottom: 0.001rem solid var(--border-color);
}
.top-wrapper:not(:last-child) {
  border-right: 0.001rem solid var(--border-color);
}

.top-wrapper:not(:last-child):nth-child(5n) {
  border-right: 0.2rem solid var(--border-color);
}

.left-wrapper {
  justify-content: end;
}

.left-wrapper:nth-child(5n) {
  border-bottom: 0.2rem solid var(--border-color);
}

.info-nums {
  text-align: center;
  align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: var(--cell-size);
  height: var(--cell-size);
}

.gameboard {
  grid-area: gameboard;
  border: 0.1rem solid var(--border-color);
}

.row {
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.cross--dark {
  background-image: url(../assets/icons/cross.png);
}

.cell:not(:last-child):nth-child(5n) {
  border-right: 0.2rem solid var(--border-color);
}

.row:nth-child(5n) {
  border-bottom: 0.2rem solid var(--border-color);
}

.row:last-child,
.left-wrapper:last-child {
  border-bottom: none;
}

.modal {
  inset: 0.5rem;
  margin: auto;
  position: relative;
  align-items: center;
  border-radius: 0.5rem;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--light-color);
}
.modal::backdrop {
  background-color: var(--primary-color);
  opacity: 0.7;
}

.modal-info {
  margin: 2rem;
  gap: 2rem;
  justify-content: space-between;
}

.modal-info__text {
  text-align: center;
}

.score-wrapper {
  color: var(--dark-color);
  text-transform: capitalize;
  gap: 2rem;
  margin: 2rem;
  width: 80%;
}

.score-table {
  width: 100%;
}
@media (max-width: 500px) {
  .score-table {
    font-size: 1.5rem;
  }
}

.score-table__header {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

@media (max-width: 500px) {
  .score-table__name {
    font-size: 2rem;
  }
}

.table-body {
  width: 100%;
}

.table-row {
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--border-color);
  padding: 0.5rem 1rem;
}/*# sourceMappingURL=styles.css.map */