body {
  --color-primary: #2596be;
  --color-secondary: #2590be;
  --color-third: #16698c;
  --color-light: #dfe3f0;
  background: var(--color-primary);
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body:has(.dialog[open]) {
  overflow: hidden;
}

.main-section {
  margin: 3% auto;
  padding: 2% 0;
  max-width: 50%;
  height: 90%;
  border: 0.05rem solid var(--color-light);
  border-radius: 1rem;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  @media (max-width: 800px) {
    max-width: 95%;
  }
}
