.dialog {
  display: grid;
  gap: 0.5rem;
  grid-column: 1 / span 2;
  border: 0.05rem solid var(--color-light);
  border-radius: 1rem;
  max-width: 50%;
  max-heght: 30%;
  background: var(--color-primary);
  justify-items: center;
  &::backdrop {
    background: var(--color-primary);
    opacity: 0.8;
  }
  @media (max-width: 800px) {
    max-width: 80%;
    max-heght: 50%;
  }
}

.dialog__paste {
  grid-template:
    'textarea textarea' min-content
    'cancel confirm' min-content / 1fr 1fr;
}

.paste__button {
  width: 100%;
}
.dialog__text {
  font-size: 1.5rem;
  color: var(--color-light);
  text-align: center;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.dialog__button {
  font-size: 1.5rem;
  max-width: 10rem;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.dialog-input {
  width: 80%;
  height: 70%;
}
