@use '../variables' as *;
@use '../placeholders' as *;

// Gameboard
.game-panel {
  @extend %borders-section;
}

.board {
  font-family: Griffy, cursive;
  color: var(--dark-color);
  margin: $margin-medium;
  display: grid;
  grid-template:
    '. top'
    'left gameboard';
}

.top-info {
  padding-left: 0.08rem;
  grid-area: top;

  @extend %flex-row;
  @extend %size-fit;
}

.left-info {
  padding: 0.1rem 0;
  grid-area: left;

  @extend %size-fit;
}

.top-wrapper {
  @extend %flex-column;

  place-content: end end;
  border-bottom: 0.001rem solid var(--border-color);

  &:not(:last-child) {
    border-right: 0.001rem solid var(--border-color);
  }
}

.top-wrapper:not(:last-child):nth-child(5n) {
  border-right: $border-bold;
}

.left-wrapper {
  @extend %flex-row;

  justify-content: end;

  @extend %align-center;
  @extend %borders-cell;
}

.left-wrapper:nth-child(5n) {
  border-bottom: $border-bold;
}

.info-nums {
  text-align: center;
  align-content: center;
  user-select: none;
  width: var(--cell-size);
  height: var(--cell-size);
}

.gameboard {
  grid-area: gameboard;
  border: $border-normal;

  @extend %size-fit;
}

.row {
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);

  @extend %borders-cell;
  @extend %align-center;

  cursor: pointer;
  color: transparent;
  user-select: none;
}

.cross--dark {
  background-image: var(--cross);

  @extend %background-btn;
}

.cell:not(:last-child):nth-child(5n) {
  border-right: $border-bold;
}

.row:nth-child(5n) {
  border-bottom: $border-bold;
}

.row:last-child,
.left-wrapper:last-child {
  border-bottom: none;
}