.car-way {
  border-bottom: 0.5rem dotted black;
}

.control-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.car-name {
  font-size: 2rem;
}

.car-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.car-button {
  height: 3rem;
}

.trip-container {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.car {
  width: 100px;
}

.car-image {
}

.flag {
  height: 5rem;
  width: 5rem;
  position: absolute;
  right: 25%;
  @media (max-width: 800px) {
    right: 30%;
  }
}
