$primary: #ff4646;
$primary-opacity: rgb(255 70 70 / 20%);
$dark: #181c29;
$static-white: #fff;
$content-background: #ecf3f8;
$tag-purple: #4361ff;
$tag-pink: #ff43f7;
$tag-green: #06a44f;
$primary-10: rgb(255 70 70 / 10%);
$static-white-20: rgb(255 255 255 / 20%);
$static-white-40: rgb(255 255 255 / 40%);
$overlay: rgb(24 28 41 / 80%);